<!DOCTYPE html>
<html lang="en">

<!-- This page renders the general browsing page of restaurants -->

<head>
  <title>Browse</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/animate.css">
  <link rel="stylesheet" href="/styles/browse.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <% include partials/_header.ejs %>
  <% include partials/_form.ejs %>

  <div class='browse'>
    <div id="browse-section">
      <h2>BROWSE</h1>
        <div id='restaurants-list'>
          <ul>
            <% for (let restaurant of restaurants) { %>
            <% let restaurantUrl = restaurant.name.split(' ').join('%20'); %>
            <a href="/browse/<%= restaurantUrl %>">
              <li class='individual-restaurant'>
                <div class='individual-restaurant-img'>
                  <img src='<%=restaurant.image_url %>' />
                </div>
                <div class='individual-restaurant-info'>
                  <h3><%= restaurant.name %></h3>
                  <p><%= restaurant.type %></p>
                  <p><%= restaurant.location %></p>
                </div>
                <div class="addressValue" style="display: none;"><%= restaurant.location %></div>
              </li>
            </a>
            <% } %>
          </ul>
        </div>
    </div>
    <div id='browse-map-section'>
    </div>
  </div>
  <% include partials/_footer.ejs %>
  <script>
      // Google Maps API
      var map;
      var markerAddresses = [];
      function createMarker(address) {
        const markerObject = {};
        const streetAddress = address.split(' ').join('+') + ',';
        const baseURL = `https://maps.googleapis.com/maps/api/geocode/json?`
        const city = `+Toronto,+ON`;
        const fullAddress = `${streetAddress}${city}`;
        const apiKey = `AIzaSyAmULEGIDZktxhRsLU6-DH4hrsiz4jiayQ`;
        const url = `${baseURL}address=${fullAddress}&key=${apiKey}`;
        // console.log(url);
        return fetch(url)
        .then(data => data.json())
        .then(data => {
          markerObject.lat = data.results[0].geometry.location.lat;
          markerObject.lng = data.results[0].geometry.location.lng;
          console.log(markerObject);
          return markerObject;
        })
      }
      function initMap() {
        map = new google.maps.Map(document.getElementById('browse-map-section'), {
          center: {lat: 43.644175, lng: -79.4022042},
          // 43.6532° N, 79.3832° W for centre of Toronto
          // 43.644175, -79.4022042 centring on LHL
          zoom: 13.5
        });
        var restaurants = document.querySelectorAll("div.addressValue");
        for (restaurant of restaurants) {
          markerAddresses.push(createMarker(restaurant.innerText));
        }

        Promise.all(markerAddresses)
          .then((results) => {
            results.forEach((latLong) => {
              var marker = new google.maps.Marker({
                position: {
                  lat: latLong.lat,
                  lng: latLong.lng
                },
                map: map
              });
              marker.setMap(map)
            })
          });
      }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmULEGIDZktxhRsLU6-DH4hrsiz4jiayQ&callback=initMap"
  async defer></script>

</body>

</html>
