<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href='/css/show.css' rel='stylesheet' type='text/css'>
  <title>Cart</title>
</head>

<body>
  <!-- Setting Order Info to set to local storage -->
  <div id='restaurantName' style="display: none"><%= orderInfo.restaurantName %></div>
  <% include partials/_header %>

  <% for (let i = 0; i < orderInfo.item.length; i++){ %>
   <!-- If the quantity of the order is greater than 0, outputs it as HTML -->
    <% if (orderInfo.quantity[i] > 0) { %>
    <li style="display: none;">
      <p class='order-items'><%= orderInfo.item[i] %></p>
      <p class='price-items'><%= orderInfo.cost[i] %></p>
      <p class='quantity-items'><%= orderInfo.quantity[i] %></p>
    </li>
    <% } %>

  <% } %>

  <main>
    <h1>Cart</h1>
    <!-- Takes the order information and passes it into /cart -->
    <form method='POST' action='/cart' id='form'>
      <input type='hidden' name='orderData' value='<%= JSON.stringify(orderInfo) %>'/>
      <div id='cart-buttons'>
        <button><a href="/browse">Get More Food</a></button>
        <button type='submit'>Place Order</button>
      </div>
    </form>
  </main>
  <% include partials/_footer.ejs %>
</body>

<!-- jQuery -->
<script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

<!-- Order Rendering Script -->
<script>
  let restaurantName = document.getElementById('restaurantName').innerHTML;
  let orderItems = document.getElementsByClassName('order-items');
  let prices = document.getElementsByClassName('price-items');
  let quantities = document.getElementsByClassName('quantity-items');
  let cartInfo = document.getElementById('form');

  // Checks if sessionStorage exists, if not, creates it. Otherwise, it updates it with the new order items.
  if (!sessionStorage.orderObj) {
    let orderObj = {};
    orderObj[restaurantName] = {};
    for (let i = 0; i < orderItems.length; i++) {
      orderObj[restaurantName][orderItems[i].innerHTML] = {
        price: prices[i].innerHTML,
        quantity: quantities[i].innerHTML
      };
      sessionStorage.setItem('orderObj', JSON.stringify(orderObj));
    }
  } else {
    let orderObj = JSON.parse(sessionStorage.orderObj);
    orderObj[restaurantName] = {};
    for (let i = 0; i < orderItems.length; i++) {
      orderObj[restaurantName][orderItems[i].innerHTML] = {
        price: prices[i].innerHTML,
        quantity: quantities[i].innerHTML
      };
    }
    sessionStorage.setItem('orderObj', JSON.stringify(orderObj));
  }

  // Setting the innerHTML for the cart page
  // Creating an array of keys for each layer of the object, then rendering to screen
  let combinedOrder = JSON.parse(sessionStorage.orderObj);
  console.log(combinedOrder);
  let combinedOrderKeys = Object.keys(combinedOrder);
  for (let key of combinedOrderKeys) {
    // Checks if the combinedOrder restaurant has any orders at all, and if so, renders them to the page
    if (!jQuery.isEmptyObject(combinedOrder[key])) {
      let total = 0;
      $('#form').append(`<h1>${key}</h1>`);
      $('#form').append(`<ul>`)
      let combinedRestaurantKeys = Object.keys(combinedOrder[key]);
      for (let restaurantKey of combinedRestaurantKeys) {
        $('#form').append(`<li>${restaurantKey}</li>`);
        $('#form').append(`<li>${combinedOrder[key][restaurantKey].price}</li>`);
        $('#form').append(`<li>${combinedOrder[key][restaurantKey].quantity}</li>`);
        total += Number(combinedOrder[key][restaurantKey].price * combinedOrder[key][restaurantKey].quantity);
      }
      $('#form').append(`<li>${total.toFixed(2)}</li>`);
      $('#form').append('</ul>');
    }
  }

  // Sends info of the order to the confirmation page
  $('#form').append(`<input type='hidden' name='orderInfo' value='${JSON.stringify(combinedOrder)}'/>`);

  // Clears sessionStorage once it is submitted
  $('#form').submit(() => {
    sessionStorage.clear();
  });

  

</script>

</html>
