<!DOCTYPE html>
<html lang="en">

<head>
  <title>Restaurant</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="../public/styles/restaurant.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <% include partials/_header.ejs %>
  <main>
    <h1>Order History</h3>
      <div>
        <% let uncompletedOrders = [];
         let pendingOrders = [];
         let completedOrders = [];
      %>
        <% if (orders) {
          for (let individualOrder of orders) {
            if (individualOrder.status === 'not accepted') {
              uncompletedOrders.push(individualOrder);
            } else if (individualOrder.status === 'pending') {
              pendingOrders.push(individualOrder);
            } else {
              completedOrders.push(individualOrder);
            }
          }
      } %>
        <h2>Unaccepted Orders</h2>
          <% for (let uncompletedOrder of uncompletedOrders) { %>
            <h3>#<%= uncompletedOrder.id %></h3>
            <% for (let item of uncompletedOrder.items) { %>
              <li><%= item.name %>: <%= item.quantity %></li>
            <% } %>
            <form method='POST' action='/restaurant/accept'>
              <input type="number" name='minutesToComplete' min='0'/> minutes
              <input type='hidden' name='orderId' value='<%=uncompletedOrder.id %>'/>
              <button type='submit'>Accept</button>
            </form>
          <% } %>

        <h2>Pending Orders</h2>
        <% for (let pendingOrder of pendingOrders) { %>
          <h3>#<%= pendingOrder.id %></h3>
          <% for (let item of pendingOrder.items) { %>
            <li><%= item.name %>: <%= item.quantity %></li>
          <% } %>
          <form method='POST' action='/restaurant/complete'>
            <input type='hidden' name='orderId' value='<%= pendingOrder.id %>'/>
            <button type='submit'>Complete</button>
          </form>
        <% } %>

        <h2>Completed Orders</h2>
        <% for (let completedOrder of completedOrders) { %>
          <h3>#<%= completedOrder.id %></h3>
          <% for (let item of completedOrder.items) { %>
            <li><%= item.name %>: <%= item.quantity %></li>
          <% } %>
        <% } %>
      </div>
  </main>

</body>

</html>
